<div id="articles">
  {{#unless dbArticle}}
  <div class="welcome text-center">
    <br>
    <h1> Welcome! </h1>
    <br>
      <p>Scrape Articles from <a href="https://www.w3.org/blog" target="_blank">w3.org/blog/.</a>
      </p>
      <p>Review your <a href="/favorites">Favorites</a> and take notes directly to MongoDB.
      </p>
  </div>
  <div class="welcome col-xs-1 text-center">
    <h1>Let's scrape the web!</h1>
    <br>
    <a class="text-dark pr-3 pl-3 bg-light pulse" id="pulseButton" href="/scrape"><span>Scrape Articles</span></a>
  </div>
  {{/unless}}

  {{#each dbArticle}}
  <div class='cards'data-id={{ @index }}>
    <div>
      <button class='saveArticle' data-id={{ @index }}>save</button>
    </div>
    <a id='link' href={{ link }} target="_blank">
      <h3 id="title">{{ title }}</h3>
      <br /> VISIT SITE <br /> <p id="paragraph">{{ paragraph }}</p>
    </a>
  </div>
  {{/each}}
</div>