<div id="articles">
      {{#unless dbArticle}}
      <div class="welcome text-center">
        <h1>No Favorites. Please see <a href="/home">Home to scrape articles.</a></h1>  
      </div>
    {{/unless}}
    
    {{#each dbArticle}}
        <div class='cards' data-id={{ id }}> 
          <div>
            <button class='noteArticle' data-id={{ id }}>Note</button>
            <button class='deleteArticle' data-id={{ id }}>Delete</button>
          </div> 
          <a id='link' href={{ link }} target="_blank">
            <h3 id="title">{{ title }}</h3> 
              <br>
            <p id="paragraph">{{ paragraph }}</p>
          </a> 
        </div>
    {{/each}}
</div>